@model IEnumerable<PCbuilder_ASP.MVC_.Models.ViewModel.GameViewModel>

@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GameGuid</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.GameGuid })</td>
            <td>
                @using (Html.BeginForm("Delete", "Games"))
                {
                    @Html.Hidden("GameID", item.GameGuid)
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                }
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Add a new product", "Create")</p>

